<% actionHelper=(collection)=> {
    let actions = [
    { value: "", name: "Bulk Action" },
    { value: "change-status/active", name: "Active" },
    { value: "change-status/inactive", name: "InActive" },
    { value: "change-ordering/", name: "Change Ordering" },
    { value: "delete/", name: "Delete" },   
    ];
    let xhtmlAction = '';
    let linkAddNew = '#';

    actions.forEach((action) => {
    let link = systemConfig.prefixAdmin + '/' + collection + '/' + action.value;
    xhtmlAction += `<option value="/${link}" name="${action.name}">${action.name}</option>`;
    });

    return `
    <div>
        <div class="mb-2">
            <a href="/admin/${collection}/form" class="btn btn-warning btn-addNew" data-sortOrder>Add New</a>
            <div class="float-right">
                <select name="action" class="custom-select" style="width: auto;">
                    ${xhtmlAction}
                </select>
                <button class="btn btn-info btnAction" type="button" id="btn-action" value="btnAction"
                    disabled>Apply</button>
            </div>
        </div>
    </div>`;
    } %>