<% filterStatusHelper=(collection,statusFilter,keyWordSearch)=> {
    const ad = systemConfig.prefixAdmin
    let xhtml = ``;
    let searchLink = (keyWordSearch!=='')? `?search=${keyWordSearch}`:``;

    statusFilter.forEach((status)=>{
    xhtml += `<a class="btn m-b-sm ${status.class} btn-sm"
        href="/${ad}/${collection}/status/${status.name.toLowerCase()}${searchLink}">
        ${status.name} (${status.count})
    </a>`;
    })
    return xhtml;
    }
    %>