<% itemStatusHelper=(id,status)=>{
    const ad = systemConfig.prefixAdmin;
    let btnStatus = (status == 'active') ? 'btn-success':'btn-warning' ;
    let href_func = `href= "javascript: handleItemStatusClick('${ad}','${id}','${status}')"`;
    let iconStatus = (status == 'active') ? 'ti-check' : 'ti-minus';

    return `<a id="${id}_status" ${href_func} style="display: flex; justify-content: center; align-items: center;">
        <span class="badge ${btnStatus} swalDefaultSuccess">
            <i class="${iconStatus}"></i>
        </span>
    </a>`;
    }
    %>