<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    Items Mananger
</title>
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="/backend/css/css.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="/backend/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/backend/css/adminlte.min.css">
<!-- Icon fonts -->
<link rel="stylesheet" href="/fonts/themify-icons-font/themify-icons/themify-icons.css">


<link rel="stylesheet" href="/backend/css/bootstrap-4.min.css">

<link rel="stylesheet" href="/backend/css/custom.css">